html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

#sidebar {
	background: #dfdfef;
	float: left;
	width: 280px;
	padding: 10px;
	min-height: 100%;
}

#sidebar h1 {
	display: inline-block;
	float: left;
	font-size: 1.6em;
	text-indent: 15px;
	font-family: Arial, sans-serif;
	color: #555;
}

#rooms-wrap {
	margin-bottom: 20px;
}

.rooms {
	margin: 0 30px 5px;
}

.rooms > a {
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	color: #888;
	text-decoration: none;
	font-weight: bold;
}

.rooms > a:hover {
	color: #666;
}

#add-room {
	margin: 25px 0 0 19px;
	display: inline-block;
	float: left;
}

#add-room > a {
	padding: 10px 24px;
	font-size: 0.8em;
	font-family: Arial, sans-serif;
	color: #888;
	text-decoration: none;
	font-weight: bold;
	background: #efefff;

}

.clear {
	display: block;
	clear: both;
}