html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#sidebar {
	display: inline-block;
	float: left;
	background: #dfdfef;
	float: left;
	width: 280px;
	max-width: 280px;
	padding: 10px;
	min-height: 100%;
	overflow: visible;
}

#sidebar h1 {
	display: inline-block;
	float: left;
	font-size: 1.6em;
	text-indent: 15px;
	font-family: Arial, sans-serif;
	color: #555;
	font-weight: bold;
}

#rooms-wrap {
	margin: 15px 15px;
}

.rooms {
	margin: 0 0 7px;
}

.rooms > a {
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	color: #888;
	text-decoration: none;
	font-weight: bold;
}

.rooms > a:hover {
	color: #666;
	text-decoration: none;
}

#add-room {
	margin: 19px 0 0 19px;
	display: inline-block;
	float: left;
}

#add-room a {
	padding: 10px 24px;
	font-size: 0.8em;
	font-family: Arial, sans-serif;
	color: #888;
	text-decoration: none;
	font-weight: bold;
	background: #efefff;
}

.clear {
	display: block;
	clear: both;
}








#room {
	display: inline-block;
	float: left;
	margin-top: 0;
	padding: 20px 0;
	max-width: calc(100% - 280px);
}

#room h2 {
	margin: 0 20px 20px;
	display: block;
	font-size: 1.2em;
	font-family: Arial, sans-serif;
	color: #555;
}

.message {
	display: block;
	overflow: auto;
	margin: 0;
	padding: 10px 30px;
	position: relative;
}

.messages:nth-child(odd) {
	background: #f0f0ff;
}

.username, .sent-at {
	display: inline-block;
}

.username {
	font-weight: bold;
}

.content {
	display: inline-block;
	float: left;
}

.user-time {
	margin-right: 20px;
	color: #333;
	max-width: 30%;
}

.sent-at {
	position: absolute;
	right: 20px;
	color: #999;
	font-style: italic;
}

.content {
	max-width: 80%;
	min-width: 65%;
}