html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

#sidebar {
	background: #dfdfef;
	float: left;
	width: 250px;
	padding: 10px;
	min-height: 100%;
}

#sidebar h1 {
	font-size: 1.4em;
	text-indent: 15px;
	font-family: Arial, sans-serif;
	color: #484848;
}

.rooms {
	margin: 0 30px 5px;
}

.rooms > a {
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	color: #888;
	text-decoration: none;
	font-weight: bold;
}

.rooms > a:hover {
	color: #666;
}