html {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
}

#sidebar {
	display: inline-block;
	float: left;
	background: #dfdfef;
	float: left;
	width: 280px;
	padding: 10px;
	min-height: 100%;
}

#sidebar h1 {
	display: inline-block;
	float: left;
	font-size: 1.6em;
	text-indent: 15px;
	font-family: Arial, sans-serif;
	color: #555;
	font-weight: bold;
}

#rooms-wrap {
	margin: 15px 15px;
}

.rooms {
	margin: 0 0 7px;
}

.rooms > a {
	font-size: 1.1em;
	font-family: Arial, sans-serif;
	color: #888;
	text-decoration: none;
	font-weight: bold;
}

.rooms > a:hover {
	color: #666;
	text-decoration: none;
}

#add-room {
	margin: 20px 0 0 19px;
	display: inline-block;
	float: left;
}

#add-room > a {
	padding: 10px 24px;
	font-size: 0.8em;
	font-family: Arial, sans-serif;
	color: #888;
	text-decoration: none;
	font-weight: bold;
	background: #efefff;

}

.clear {
	display: block;
	clear: both;
}


#room {
	display: inline-block;
	float: left;
	margin-top: 0;
	padding: 20px;1
}

#room > h2 {
	margin-top: 0;
	display: block;
	font-size: 1.4em;
/*	text-indent: 15px;*/
	font-family: Arial, sans-serif;
	color: #555;
	font-weight: bold;
}

.username, .sent-at, .content {
	display: block;
	float: clear;
}