<section id="sidebar">
	<h1>Bloc Chat</h1>
  <div id="add-room"><a href="" ng-click="landing.openNewRoomModal()">New room</a></div>
	<!-- <ng-include src="'/templates/newroommodal.html'"></ng-include>  -->
	<span class="clear"></span>


	<div id="rooms-wrap">
		<div ng-repeat="room in landing.Room.rooms" class="rooms">
			<a href="" ng-click="landing.Message.getByRoomId(room.value); landing.selectedRoom = room.value;">
				{{ room.value }}
			</a>
		</div>
	</div>
</section>


<section id="room">
	<h2 style="margin: 0; font-size: 1.4em; margin: 0 30px 15px;">{{ landing.selectedRoom }}</h2>

	<div id="messages-wrap">
		<div ng-repeat="message in landing.Message.messageArr" class="messages">
			<div class="message">
					<div class="user-time">
						<div class="username">{{ message.username }}</div>
						<div class="sent-at">{{ message.sentAt }}</div>
					</div>
					<div class="content">{{ message.content }}</div>
			</div>
		</div>

	</div>

	<div id="messageInput">
		<input id="message-text" placeholder="New Message"><a href="" id="send" ng-click="landing.Message.send()">Send</a>
	</div>
</section>
