<section id="sidebar">
	<h1>Bloc Chat</h1>
	<ng-include src="'/templates/newroommodal.html'"></ng-include> 
	<span class="clear"></span>
	<div id="rooms-wrap">
		<div ng-repeat="room in landing.Room.rooms" class="rooms">
			<a href="" ng-click="landing.Message.getByRoomId(room.value); landing.selectedRoom = room.value">
				{{ room.value }}
			</a>
		</div>
	</div>
</section>
<section id="room">
	<h2 style="margin: 0">{{ landing.selectedRoom }}</h2>
	<div id="messages-wrap">
		<div ng-repeat="message in landing.Message.messageArr" class="messages">
			{{ message.username }}
			{{ message.sentAt }}
			{{ message.content }}
		</div>
	</div>
</section>