<section class="container" ng-controller="NewRoomModalCtrl as newRoomModalCtrl">
  <div id="add-room"><a href="" data-toggle="modal" data-target="#myModal">New room</a></div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Enter your new room name</h4>
        </div>
        <div class="modal-body">
		  <input type="text" id="modal-value">
		</div>
		
        <div class="modal-footer">
		  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-default" ng-click="newRoomModalCtrl.submit(newRoomModalCtrl.modalValue)" data-dismiss="modal">Submit</button>
        </div>
      </div>
      
    </div>
  </div>
  
</section>